* {
/*    font-family: 'JetBrainsMono Nerd Font'; */
    font-weight: bold;
}

#waybar {
    background-color: rgba(17, 17, 27, 1);
    color: #000000;
    border-radius: 10px;
}

#custom-apps {
	color: #89dceb;
	border-width: 0px;
	border-radius: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 25px;
	background-color: #1e1e2e;
        padding-right: 12px;
        padding-left: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 20px;
}

#workspaces {
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    background-color: #1e1e2e;
    padding-top: 0px;
    padding-bottom: 0px;
}

#workspaces button {
    color: #ffffff;
  }

#workspaces button.active {
    color: #eba0ac;
}

#workspaces button:hover {
    color: #f2cdcd;
    background: none;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

#tray,
#custom-brightness,
#custom-volume,
#custom-microphone,
#battery,
#temperature,
#custom-media,
#network,
#clock,
#custom-notification,
#language,
#custom-power {
    background-color: #1e1e2e;
    color: #f38ba8;
    margin-right: 25px;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
    padding-right: 12px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

#clock {
    color: #fab387;
    margin-right: 0px;
    padding-left: 12px;
}

#custom-brightness {
	color: #89b4fa;
	margin-right: 0px;
}

#language {
	color: #f2cdcd;
	margin-right: 0px;
}


#custom-notification {
    color: #eba0ac;
    margin-right: 0px;
}

#network {
    color: #f9e2af;
    margin-right: 0px;
}

#battery {
    color: #a6d189;
    margin-right: 0px;
}


#custom-volume {
    color: #cba6f7;
    margin-right: 0px;
}

#custom-microphone {
	color: #a6e3a1;
	margin-right: 0px;
}

#tray {
    color: #747dff;
}

#custom-media {
    color: #89dceb;
    margin-right: 0px;
}






